/BUILD*
/dump
/__pycache__
.cortex-debug.*
/mbed-os
debug.log
/Debug
*.state.json
*.launch
*.project.prefs
.mxproject
.project
.cproject
*.pdf
*.launch
*._
*.wav
*.zip
/CMakeFiles
CMakeCache.txt
/lvgl/.github
/lvgl/docs
/lvgl/scripts
/lvgl/zephyr
/lvgl/tests
/lvgl/env_support
/lvgl/configs
/lvgl/.devcontainer