# STM32U5x + ST-Link OpenOCD generic config

source [find interface/stlink.cfg]

transport select swd

source [find target/stm32u5x.cfg]

adapter serial 003D002F3133511035333335

reset_config srst_only
